# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
coverage
*.local

dist
node_modules
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
docs
node
server/target/**
**/target/**
server/kafkakraft-data/**
server/audio/**
.git
.git/**
**/node_modules/**
server/python/**
**/.venv/**
**/distill_output/**
**/*.safetensors
**/*.pt
server/src/main/resources/application.yml
server/src/main/resources/application-dev.yml
